# Backend Python dependencies
fastapi
uvicorn
requests
PyPDF2
python-dotenv
llama-api-client
pytesseract
sentence-transformers
pdfplumber
python-docx
langdetect
reportlab
langchain
langchain_community